$def with (mode,form,session)

	<form class="form" method="post">
	$if form:
		$if mode == 0:
			$:form.render()
			<input class="button" type="submit" value="send" id="submit"/>
	</form>
	
	
	<form class="form" method="post" action=$session>
	$if form:
		$if mode == 1:
			$:form.render()
			<input class="button" type="submit" value="send" id="submit"/>
	</form>
	
	

	<form class="form" method="post" action="PickPath/$session">
	$if mode == 2:
			$if form:
				$:form.render()				
			<input type="submit" value="Pick Path" id="submit" />
	</form>
	
	$if mode==3:
		<form action="http://10.216.35.20:605$session/LoadNew/$session">
			<input type="submit" value="Start Load Instance" />
		</form>
	$if mode==4:
		<form action="http://10.216.35.20:605$session/LoadNew/$session">
			<input type="submit" value="Start Load Instance" />
		</form>